/*---------------------------------------------------------------------- */
/** Custom properties                                                      */
/*--------------------------------------------------------------------- */
:root{
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
}


/*---------------------------------------------------------------------- */
/** Utility classes                                                       */
/*--------------------------------------------------------------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem)
}

.grid {
    display: grid;
    gap: var(--gap, 1rem)
}

.container {
    padding-inline: 2rem;
    margin-inline: auto;
    max-width: 60rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}


/*? General */

.box {
    padding: 3rem;
    background-color: var(--clr-light) / .2;
}

.call-to-action {
    --gap: 5rem;
    background: pink;
    padding: 2rem;
    border-radius: 1rem;
}

/*? colors */
.bg-dark { background-color: hsl(var(--clr-dark));}
.bg-accent { background-color: hsl(var(--clr-light));}
.bg-white { background-color: hsl(var(--clr-white));}

.text-dark { color: hsl(var(--clr-dark));}
.text-accent { color: hsl(var(--clr-light));}
.text-white { color: hsl(var(--clr-white));}

.example-component {
    background-color: hsl(var(--clr-light) / .2);
}